<nav class="ui inverted menu">
  <header class="header item"><a href="/tweets"> Twitterer </a></header>
  <div class="right menu">
    <a id="owntimeline"   class= "item" href="/owntimeline"> My Timeline</a>
    <a id="timeline"   class= "item" href="/users"> Timelines</a>
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>