<section class="ui raised segment">
  <div class="ui grid ">
    <aside class="six wide column">
      <img src="images/Twitter-icon.png" class="ui small image">
    </aside>
    <div class="ui form six wide column">
      Test tweet
    </div>
  </div>
</section>