{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/Twitter-icon-big.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Twitterer</header>
      <p> Tweet anything you want - get connected to the world! </p>
    </article>
  </div>
</section>

