<section class="ui container">

  {{> mainmenu _id="owntimeline" }}

  <section class="ui raised segment">


    <h3 class="ui dividing header">Publish something to the world</h3>
    <form class="ui reply form" action="/api/tweets/{{user_id}}" method="POST">
      <div class="field">
        <textarea name="message"></textarea>
      </div>
      <button class="ui blue submit button">Publish</button>
    </form>

    {{> formerror }}

    {{> tweets }}

  </section>

</section>