<section class="ui container">

  {{> mainmenu _id=mainmenuid }}

  <section class="ui raised segment">

    {{#if can_post}}

      {{> publish }}
      {{> formerror }}

    {{/if}}

    {{> tweets }}

  </section>

</section>