<section class="ui container">

  {{> mainmenu _id=mainmenuid }}

  <section class="ui raised segment">

    {{#if can_post}}
      <h3 class="ui dividing header">Publish something to the world</h3>

      <div>
          <form method="POST" action="/api/upload/{{mainmenuid}}" enctype="multipart/form-data">
            <label for="upload">Image:</label>
            <input type="file" name="file"/>
            <button class="ui blue submit button">Load</button>
          </form>
      </div>

      <form class="ui reply form" action="/api/publish/{{mainmenuid}}" method="POST">
        {{#if image}}
          <input type="hidden" name="image" value={{image}}/>
          <img src={{image}} class="ui bordered image medium"/>
        {{/if}}

        <div class="field">
          <textarea name="message"></textarea>
        </div>
        <button class="ui blue submit button">Publish</button>
      </form>

      {{> formerror }}
    {{/if}}

    {{> tweets }}

  </section>

</section>