<section class="ui container">

  {{> mainmenu _id="timeline" }}

  <section class="ui raised segment">

    <div class="ui cards">
      {{#each users as |u|}}

          {{> card user=u}}

      {{/each}}
    </div>


  </section>
</section>